<div class="row">
  <div class="col-md-12">
    
    <h2 clas="m-2">Add Destination</h2>

    <form class="form new-destination-form">

      <div class="form-group m-2">
        <label for="trip-destination">Destination</label>
        <input class="form-input" type="text" id="new-destination"/>
      </div>

      <button type="submit" class="btn btn-light m-2">Submit</button>  
      
    </form>
</div>
  
<script src="js/addDestination.js"></script>