<!-- Header with image -->
<div style="background: url(/images/travelbdg1.jpg)" class="page-holder bg-cover">
  <div class="container py-5">
    <header class="text-center text-white py-5">

      <h1 class="display-1 font-weight-bold mb-5">Add Destinations</h1>

      <p>Add the destination you want to travel to:</p>

      <form class="form new-destination-form">

      <div class="form-group m-2">
        <label for="trip-destination"></label> <!--Destination? label-->  
        <input class="form-input" type="text" id="new-destination"/>
      </div>

      <button type="submit" class="btn btn-light m-2">Submit</button>  
      
    </form>
    </header>
  </div>
</div>
  
<script src="js/addDestination.js"></script>