<div class="row">
  <div class="col-md-12">
    
    <h2 clas="m-2">Add Trip</h2>

    <form class="form new-trip-form">
      
      <div class="form-group m-2">
        <label for="start-date">Start Date</label>
        <input class="form-input" type="date" id="start-date"/>
      </div>

      <div class="form-group m-2">
        <label for="end-date">End Date</label>
        <input class="form-input" type="date" id="end-date"/>
      </div>

      <div class="form-group m-2">
        <label for="trip-destination">Destination ID (for now)</label>
        <input class="form-input" type="number" id="trip-destination_ID"/>
      </div>

      <div class="form-group m-2">
        <label for="trip-budget">Trip Budget</label>
        <input class="form-input" type="number" id="trip-budget"/>
      </div>

      <div class="form-group m-2">
        <label for="hotel-cost">Hotel Costs</label>
        <input class="form-input" type="number" id="hotel-cost"/>
      </div>

      <div class="form-group m-2">
        <label for="food-cost">Food Costs</label>
        <input class="form-input" type="number" id="food-cost"/>
      </div>

      <div class="form-group m-2">
        <label for="ent-cost">Entertainment Costs</label>
        <input class="form-input" type="number" id="ent-cost"/>
      </div>

      <div class="form-group m-2">
        <label for="misc-cost">Miscellaneous Costs</label>
        <input class="form-input" type="number" id="misc-cost"/>
      </div>

      <div class="form-group m-2">
        <label for="transport-cost">Tranportation Costs</label>
        <input class="form-input" type="number" id="transport-cost"/>
      </div>

      <button type="submit" class="btn btn-light m-2">Submit</button>  
      
    </form>
</div>
  
<script src="js/addTrip.js"></script>