<div class="row">
  <div class="col-md-12">
    <h2>Add Trip</h2>

    <form class="form tripDetails-form">
      
      <div class="form-group">
        <label for="trip-destination">Destination ID (for now)</label>
        <input class="form-input" type="number" id="trip-destination_ID"/>
      </div>

      <div class="form-group">
        <label for="trip-budget">Trip Budget</label>
        <input class="form-input" type="number" id="trip-budget"/>
      </div>

      <div class="form-group">
        <label for="hotel-cost">Hotel Costs</label>
        <input class="form-input" type="number" id="hotel-cost"/>
      </div>

      <div class="form-group">
        <label for="food-cost">Food Costs</label>
        <input class="form-input" type="number" id="food-cost"/>
      </div>

      <div class="form-group">
        <label for="ent-cost">Entertainment Costs</label>
        <input class="form-input" type="number" id="entertainment-cost"/>
      </div>

      <div class="form-group">
        <label for="misc-cost">Miscellaneous Costs</label>
        <input class="form-input" type="number" id="misc-cost"/>
      </div>

      <button type="submit" class="btn btn-light">Submit</button>  
      
    </form>
  </div>
  
<script src="./js/add-trip.js"></script>

