<div class="row">
  <div class="col-auto">
    <h2>Destinations</h2>




    {{!-- <div>
      {{#each destinations as |destination| }}
      <div class="row align-center mb-5">
        <div class="col-md-6">
          <h2>{{destination}}</h2>
        </div>
      </div>
      {{/each}}
    </div> --}}
    
  </div>
</div>

<script src=""></script>