<!-- Header with image -->
<div style="background: url(/images/travelbdg.jpg)" class="page-holder bg-cover">
  <div class="container py-5">
    <header class="text-center text-white py-5">
      <h1 class="display-1 font-weight-bold mb-5">Plan Your Trip</h1>
     <button class="desButton">
      <a href="/destinations" style="color:black;"> Lets Go Explore</a>
     </button>
    </header>

  </div>
</div>



{{!-- {{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}} --}}