<div class="row">
  <div class="col-auto">
    <h2 class="user-name">Welcome, {{userData.name}}</h2>
  </div>
</div>
<div class="selector">
<select class="dropdwn" id="dropdown">
        <option value="CAD">CAD</option>
        <option value="USD">USD</option>
        <option value="GBP">GBP</option>
      </select>
      <button class="exbtn" >Convert  💱</button>
</div>

<section class="container">
  <h3 class="gallery-name">{{user.name}}</h3>
  <section class="flex-row justify-center">    
    {{#each userTrips as |trip|}}
    {{> user-trips}}
    {{/each}}
  </section>
  <div>
    <p>
    </p>
  </div>
</section>

<script src="../../js/trips.js"></script>