.login {
    float: right;
}

.page-holder {
    min-height: 100vh;
}
  
.bg-cover {
    background-size: cover !important;
}

a {
    text-decoration: none !important;
}

.desButton {
  width: 30%;
  height: 50px;
  font-size: 20px;
}

.navbar {
    padding-left: 10px;
}

  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

/* Add styles to the Add Trip form container */

.addtrip-page {
    padding: 4% 0;
    margin: auto;
    max-width: 560px;
  }
  .form-add {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    padding: 35px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form-add input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form-add button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form-add button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
  
  #button-1 {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
  }
  
  #button-1, button span {
    transition: 200ms;
  }
  
  #button-1 .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
  }
  
  #button-1 .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #button-1 svg {
    width: 15px;
    fill: #eee;
  }
  
  #button-1:hover {
    background: #ff3636;
  }
  
  #button-1:hover .text {
    color: transparent;
  }
  
  #button-1:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
  }
  
  #button-1:focus {
    outline: none;
  }
  