.login {
    float: right;
}

.page-holder {
    min-height: 100vh;
}
  
.bg-cover {
    background-size: cover !important;
}

a {
    text-decoration: none !important;
}

.desButton {
  width: 30%;
  height: 50px;
  font-size: 20px;
}

.navbar {
    padding-left: 10px;
}